body {
    background-color: rgb(255, 255, 255);
    margin: 0;



}

header {
    background-color: #6E6EB4;
    height: 200px;
}

header>h2 {
    margin-top: 40px;
}

.tekst-large {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: "Montserrat", sans-serif;


}

.tekst-large-white {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    color: white
}

.tekst-large-purple {
    text-decoration:underline;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    color: #402e56;
}

.tekst-largest {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
    color: #402e56;
}

.tekst-small {
    display: flex;

    font-size: small;
    font-family: "Montserrat", sans-serif;
}

.light-blue {
    display: flex;
    color: #6e6eb4;
}

.white {
    display: flex;
    color: rgb(255, 255, 255);
}

.pink {
    display: flex;
    color: rgb(235, 159, 225);
}

.dark-purple {
    display: flex;
    color: #402e56;
}

.red {
    display: flex;
    color: rgb(214, 87, 87);
}

.cyan {
    display: flex;
    color: rgb(69, 207, 205);
}

.deep-blue {
    display: flex;
    color: #ebf6fb;
}

.yellow {
    display: flex;
    color: rgb(226, 211, 46);
}

.gray-background {
    display: flex;
    background-color: rgb(35, 35, 33);
    font-size: small;
    font-family: "Montserrat", sans-serif;
}

.pink-background {
    display: flex;
    background-color: rgb(232, 57, 202);
    font-size: small;
    font-family: "Montserrat", sans-serif;
}

.empty-space {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 50px;
}

.button-wide {
    width: 500px;
    height: 100px;

}

.button-small {
    background-color: rgb(40, 40, 40);
    width: 100px;
    height: 50px;

}

.button-square {
    background-color: rgb(40, 40, 40);
    width: 100px;
    height: 100px;

}

.container-center {
    display: flex;
    justify-content: center;

}

.container-end {
    display: flex;
    justify-content: flex-end;

}

.container-space-around {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.image-size-roc {
    width: 90%;
    height: 100px;
}
.container-align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-space-between {
    display: flex;
    justify-content: space-between;

}

.flex-container-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-top: 50px;
}

.flex-container-box {
    background-color: #EBF6FB;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
    border-radius: 10px;
    padding: 12px;
    font-family: "Montserrat", sans-serif;
    width: 35%;
    height: 500px;
}

.flex-container-text {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
    border-radius: 10px;
    padding: 12px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: #402e56;
}

footer {
    background-color: #402e56;
    color: white;
    margin-top: 50px;
    max-width: unset;
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    height: 90px;

}

.image-size {
    width: 300px;
    height: 200px;
}

.flex-container-box-logo {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.image-size-logo {
    width: 160px;
    height: 180px;

}

.technovium {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.technovium>img {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    width: 100%;
    border-radius: 8px;
}